<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="cont w-full h-screen bg-zinc-900 flex justify-center items-center flex-col gap-[2rem] text-white">
        <div class="heading text-[2.5rem]">
            Create Account
        </div>
        <form class="flex flex-col justify-center items-center w-[30%] h-[60%] bg-zinc-500 gap-[1rem] rounded-[2rem]" action="/register" method="post">
            
            <input class="bg-zinc-600 h-[2.5rem] p-[10px] w-[65%] rounded-[2rem]" type="text" name="name" placeholder="name">

            <input class="bg-zinc-600 h-[2.5rem] p-[10px] w-[65%] rounded-[2rem]" type="text" name="username" placeholder="username">

            <input class="bg-zinc-600 h-[2.5rem] p-[10px] w-[65%] rounded-[2rem]" type="email" name="email" placeholder="email">

            <input class="bg-zinc-600 h-[2.5rem] p-[10px] w-[65%] rounded-[2rem]" type="password" name="password" placeholder="password">

            <input class="bg-zinc-600 h-[2.5rem] p-[10px] w-[65%] rounded-[2rem]" type="number" name="age" placeholder="age">

            <button type="submit" class="rounded-md bg-blue-500 h-[2.5rem] p-[10px] w-[35%] flex items-center justify-center cursor-pointer">Create Account</button>

            <a href="/login" class="rounded-md bg-blue-500 h-[2.5rem] p-[10px] w-[35%] flex items-center justify-center cursor-pointer">Login</a>
        </form>
    </div>
</body>
</html>